doctype html
head
  // Font special for pages
  link(href='https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i' rel='stylesheet')
  style
    include ../vendor/datepicker/daterangepicker.css
    include ../vendor/select2/select2.min.css
    include ./main.css
    include ../vendor/font-awesome-4.7/css/font-awesome.min.css
    include ../black-dashboard-master/assets/demo/demo.css  
    include ../black-dashboard-master/assets/css/nucleo-icons.css

    
.page-wrapper.bg-univers.p-t-180.p-b-100.font-robo
  .wrapper.wrapper--w960
    .card.card-2
      .card-body
        h2.title INFORMATION MANAGEMENT FORM
        form(method='POST' action=`/edit${path}`)
          .input-group
            label(for='employee_id' style="font-weight: bold;") ID:
            input.input--style-2(type='text' value=user.Employee_ID disabled)
            input.input--style-2(type='hidden' value=user.Employee_ID name='employee_id')
          .row.row-space
            .col-2
              .input-group
                label(for='department' style="font-weight: bold;") Department:
                input.input--style-2.js-datepicker(type='text' value=user.Job_History.Department name='department')
                i.zmdi.zmdi-calendar-note.input-icon.js-btn-calendar
            .col-2
              .input-group
                .rs-select2.js-select-simple.select--no-search
                  select(name='gender')
                    option(disabled='disabled' selected='selected') Gender
                    option Male
                    option Female
                  .select-dropdown
          .input-group
            label(for='last_name' style="font-weight: bold;") Last Name:
            input.input--style-2(type='text' value=user.Last_Name name='last_name')
          .input-group
            label(for='first_name' style="font-weight: bold;") First Name:
            input.input--style-2(type='text' value=user.First_Name name='first_name')
          .input-group
            label(for='email' style="font-weight: bold;") Email:
            input.input--style-2(type='text' value=user.Email name='email')
          .input-group
            label(for='city' style="font-weight: bold;") City:
            input.input--style-2(type='text' value=user.City name='city')
          .input-group
            label(for='phone' style="font-weight: bold;") Phone:
            input.input--style-2(type='text' value=user.Phone_Number name='phone')
          .row
            .col-6.marginBtn
              .p-t-30
                button.btn.btn--radius.btn--green(type='submit') Update
                .col-lg-12.col-md-12
                  .card.color
                
// Jquery JS
script 
    include ../vendor/jquery/jquery.min.js
    include ../vendor/select2/select2.min.js
    include ../vendor/datepicker/daterangepicker.js
    include ../vendor/datepicker/moment.min.js

