doctype html
head
  title Table
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T' crossorigin='anonymous')
  style
    include table.css 
table
  tr
    th Employment ID
    th Last Name
    th First Name
    th Email
    th Phone
    th Salary
  each person in personals
    tr
        td 
            li=person.Employee_ID
        td 
            li=person.Last_Name
        td 
            li=person.First_Name
        td 
            li=person.Email
        td 
            li=person.Phone_Number
        td 
            li=person.Pay_Rates.Pay_Amount
li="Total: "+sum
li="Total By Shareholder: "+sumByShareHolder
li="Total By Male: "+sumByMale
li="Total By Female: "+sumByFemale